
body{
    margin: 0;
    background-image: url("./img/Default.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.align{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
}

h1{
    color: white;
    font-size: 4rem;
    text-transform: capitalize;
    background: linear-gradient(45deg, #00FFFC 21%, #FB01E9 65%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.grid-conteiner{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.key{
    border-radius: 50%;
    margin: 0px;
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 3px solid grey;
    border-image: linear-gradient(45deg, #00FFFC 21%, #FB01E9 65%) 1;
}

p.text{
    color: white;
}

p.undertext{
    color: white;
    font-size: 12px;
}